body {
    background-color:white;
    font-family: 'Montserrat';
}

    .NOSOTRAS {
        width: 100%;   
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
    }
    
    .NOSOTRAS1 {
        width: 200px;
        height: 200px;
        margin-bottom: 60px;
        margin-right: 60px;
        overflow: hidden;
    }

    .NOSOTRAS1 img { width: 100%;
    }
    
    /*ESTO ES EL CSS DEL HOME*/

    #navbar {
        width: 100%;
    }
    
    #navbar a{
        text-decoration: none; 
        margin-left: 40px;
    }
    
    #navbar a:hover {;
    }
    
    ul {
        width: 100%;
        display: flex;
        list-style: none;
    }
    
    #navbar li {
        flex: 1 0 auto;
    
    }

    .container {
        display: flex;
        width: 1020px;
        margin: auto;
        background-color: black
    }
    
    .banner {
    
        border: solid;
        border-color: #ffba5a;
    
    }
    
    .banner img {
        max-width: 100%;
    }
    
    .trabajo {
        width: 100%;
    }
    .trabajo h1 {
        text-align: center;
        color: #665c84;
    }
    
    .trabajito h2 {
        text-align: center;
        color: #665c84;
    }
    
    .trabajito h2:hover {
        color: #ffba5a;
    }
    
    .trabajito p {
        text-align: center;
        color: black;
        
    }
    
    .trabajito img {
        margin-left: 50px;
        border: dotted;
        border-color: black;
    }
    
    /*ESTE ES EL CSS DEL FOOTER*/
    .footer {
        padding: 20px;
        background-color: grey;
        
        }
    .titulin {
        display: flex;
        justify-content: center;
        color: #665c84;
    }
    .columnas {
        display: flex;
        flex-direction: row;
    }
    .izquierda {
        width: 50%;
        margin-right: 10%;
        background-color: blue;
    }
    textarea {
        width: 100%;
    }
    input {
        width: 100%;
    
    }
    .derecha {
        width: 50%;
        border: solid black;
    }
    .datos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2%;
    }
    
    .botonenviar {
        background-color: #ff7657;
        width: 40%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 5px;
    