body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#navbar {
    width: 100%;
   
}

#navbar a{
    color:black;
    text-decoration: none; 
    margin-left: 80px;
}


#navbar a:hover {
    color: red;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
}

#navbar li {
    flex: 1 0 auto;
    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    display: flex;
    width: 1020px;
    margin: auto;
     
   
}
.banner {
    margin-top:50px;
    margin-bottom: 100px;
    
}
.banner img {
    max-width: 100%;
    border: solid;
    border-color:rgb(240, 240, 240);
}
.espacio {
    width: 100%;
    height: 10px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color:rgb(240, 240, 240);
}
.trabajo {
    width: 100%;
       
}
.trabajo h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(160,160,160);
    padding-bottom: 50px;
    padding-top: 50px;
 }



.trabajito p {
    margin-right:40px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    
}

.trabajito img {
    border: solid;
    border-color:rgb(240, 240, 240);
        
}

.mensaje  {
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(160,160,160);
    padding: 50px;
}

.banner2 img {
    margin-bottom: 100px;
    margin-top: 100px;
    width: 100%;
    max-width: 100%;
    border: solid;
    border-color:rgb(240, 240, 240);
}

button {
    background-color: #ff7657;
    height: 50px;
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
    
}

button img {
    margin-right: 5px;

}

/*ESCRIBAN ARRIBA DE ESTO. DESDE ACÁ VA EL FOOTER*/
.footer {
    padding: 6%;
    text-align: center;
    background-color: rgb(240, 240, 240);
    font-family: 'Source Sans Pro', sans-serif;
    height: 70%;
}
.gris, .derecha .pie {
    color: rgb(160,160,160);
}
.footer h1 {
    padding-bottom: 2%;
}
.flexbox {
    display: flex;
}
.columna {
    width: 45%;
    padding: 1%;
    }
.datos, .columna {
    justify-content: space-between;
}
input {
    width: 45%;
    height: 7%;
    padding-left: 15px;
}
textarea {
    width: 100%;
    height: 30%;
    margin-top: 4%;
    padding: 15px;
}
.columna h3 {
    text-align: justify;
}
.botonenviar {
    background-color: #ff7657;
    width: 30%;
    height: 9%;
    color: white;
    align-items: center;
    justify-content: space-around;
}
input, textarea, div.botonenviar {
    border-radius: 5px;
}
.medios {
    flex-direction: column;
}
.derecha {
    padding-top: 0%;
    height: 60%;
}
.contacto {
margin: 5%;
}
.contacto span {
    padding-left: 20px;
}
.barra {
    height: 30%;
    background-color: rgb(240, 240, 240);
    justify-content: center;
}
.pie {
    border-top: 2px rgb(180,180,180) solid;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}
.dos {
    border-left: 2px rgb(180,180,180) solid;
    border-right: 2px rgb(180,180,180) solid;
    padding-left: 50px;
    padding-right: 50px;
}


@media screen and (max-width: 959px) {
    .container {
        width: 100%;
        }
    #navbar {
        width: 100%;}
    
    .banner img {
        width: 100%;
    }
    .trabajito img {
        width: 100%   
    }     

    .banner2 img {
        width: 100%
    }
}

@media (max-width: 700px) {


    .container {
        width: 100%;
        }
    #navbar {
        width: 100%;}
    
    .banner img {
        width: 100%;
    }
    .trabajito img {
        width: 100% }   
    .banner2 img {
        width: 100%
    }
    .flexbox.centro {
    flex-direction: column;
    }
    .columna {
        width: 100%;
    }
    .botonenviar {
        width: 100%
    }
}