body {
    background-color: white;
}

#navbar {
    width: 100%;
   
}

#navbar a{
    color:black;
    text-decoration: none; 
    margin-left: 40px;
}

#navbar a:hover {
    color: red;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
}

#navbar li {
    flex: 1 0 auto;
    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    display: flex;
    width: 1020px;
    margin: auto;
}

.banner {

    border: solid;
    border-color: black;

}

.banner img {
    max-width: 100%;
}

.trabajo {
    width: 100%;
}
.trabajo h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

.trabajito h2 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;}

.trabajito h2:hover {
    color: red;
}

.trabajito p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    
}

.trabajito img {
    margin-left: 50px;
    border: dotted;
    border-color: black;
}

/*ESCRIBAN ARRIBA DE ESTO. DESDE ACÁ VA EL FOOTER*/
.footer {
    padding: 9%;
    text-align: center;
    background-color: lightgray;
}

.columnas {
    display: flex;
    flex-direction: row;
}
.izquierda {
    width: 50%;
    margin-right: 10%;
    background-color: blue;
}
textarea {
    width: 100%;
}
input {
    width: 100%;

}
.derecha {
    width: 50%;
}
.datos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.botonenviar {
    background-color: #ff7657;
    width: 40%;
    height: 7%;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
