body {
    padding: 8%;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(140, 140, 140);
}
.flexbox {
    display: flex;
}
.principal{
    width: 70%;
    height: 205%;
    border-bottom: 2px rgb(220,220,220) solid;
}
.negrita {
    color: rgb(100, 100, 100)
}
.costado {
    flex-direction: column;
    width: 30%;
}
img :not(.button){
    border: 6px solid rgb(220, 220, 220);
}
.principal img:nth-child(2) {
    border: 6px solid rgb(220, 220, 220);
    margin-top: 4%;
    margin-bottom: 4%;
}
.principal p:nth-child(4) {
text-align: justify;
width: 95%;
margin-bottom: 4%; 
}
button {
    background-color: #e7746f;
    width: 25%;
    height: 6%;
    color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
.fecha {
    background-color: rgb(130, 130, 130);
    color: white;
    width: 23%;
    height: 15%;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}
p {
    line-height: 170%;
    text-align: justify;
}
.comentario {
    height: 60%;
    margin-bottom: 10%;
    border-bottom: 2px rgb(220,220,220) solid;
}
.dos {
    border-top: 2px solid rgb(220, 220, 220);
    padding-top: 2%;
}
.recuadro {
height: 110%;
border-bottom: 2px solid rgb(220, 220, 220);
margin-left: 10%;
}
.recuadro img {
    padding-left: 20%;
}
.recuadro button {
    height: 8%;
    width: 40%;
}