body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

#navbar {
    width: 100%;
   
}

#navbar a{
    color:black;
    text-decoration: none; 
    
}

#navbar a:hover {
    color: red;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
}

#navbar li {
    flex: 1 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 45px;

}

#navbar li img{
    margin-right: 5px;
}


.container {
    display: flex;
    width: 1020px;
    margin: auto;
}

.titulo {
    width: 100%;
    color: grey;
    text-align: center;
    margin-top: 10%;
}

.reviews {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
  
    
}

.reviews2 {
    margin-top: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}


.boxes {
    width: 30%;
    height: 30%;
    border-radius: 20%;
    border-style: groove;
    padding: 5%;
    

}

.red {
    background-color: #ff6262;
}


.espacio {
    width: 100%;
    height: 10px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color:rgb(220, 220, 220);
}

.pie {
    width: 100%;
    height: 50px;
    background-color: rgb(240, 240, 240);
}

.redes {
    width: 100%;
}


.redes li{ 
     flex: 1 0 auto;
     font-family: 'Source Sans Pro', sans-serif;
     margin-left: 45px;
    
}

.redes a{
    color:black;
    text-decoration: none; 
    
}

.redes a:hover {
    color: red;
}

.redes li img{
    margin-right: 5px;
}


@media screen and (max-width: 959px) {
    .container {
        width: 100%;
        }
    #navbar {
        width: 100%;}
    
    .boxes {
        width: 100%;
    }

}

@media (max-width: 700px) {


    .container {
        width: 100%;
        }
    #navbar {
        width: 100%;}
    
    .boxes {
        width: 100%
    }

    
}